.commentRow{
    border-bottom: 2px solid black;
    color:white;
    background-color: #7386D5;
    padding: 5px 10px;
}

.timeStamp{
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}